body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --hack-background-color: rgb(48, 48, 48);
    --button-background-color: rgb(51, 51, 51);
    --text-color: white;
    --flash-color: pink;
    --success-color: rgb(12, 145, 12);
    --warning-color: yellow;
    --danger-color: rgb(185, 1, 1);
}

/* Helper classes */
.hidden {
    display: none !important;
}

.correct {
    background: var(--success-color)
}

.disable-input {
    user-select: none;
}

.correct-answer {
    background: rgba(104, 94, 94, 1);
}

.incorrect {
    background: var(--danger-color);
}

/* Animations */
.loading-hack-blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* Styling */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    top: 5vh;
    left: 10vw;
    right: 10vw;
    bottom: 10vh;
    background: var(--hack-background-color);
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
}

/* Loading hack / Success hack */
.loading-hack i,
.hack-success i,
.hack-failed i {
    font-size: 80px;
    user-select: none;
}

.loading-hack span,
.hack-success span,
.hack-failed span {
    display: block;
    margin-top: 15px;
    font-size: 30px;
    user-select: none;
}

.loading-hack,
.hack-success,
.hack-failed {
    display: block;
    color: var(--text-color);
    text-align: center;
}

/* Hack */

.hack {
    gap: 2px;
    flex-wrap: wrap;
    display: flex;
    width: 778px;
    background: var(--button-background-color);
}

.hack > div {
    border: 1px solid rgba(255, 255, 255, 0.87);
    width: 126px;
    height: 111px;
    cursor: pointer;
    position: relative;
}

.hack > div > i {
    font-size: 36px;
    color: var(--text-color);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hack-overlay {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: red;
}

.timer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35px;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}